<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ todo_list.name }}</h1>
                <div>
                    <p>
                        <a href="{% url 'todo_list_update' todo_list.id %}">Edit</a>
                        <a href="{% url 'todo_list_delete' todo_list.id %}">Delete</a>
                    </p>
                </div>
                <table>
                    <thead>
                        <th>Task</th>
                        <th>Due Date</th>
                    </thead>
                    <tbody>
                        {% for todoitem in todo_list.items.all %}
                            <tr>
                                <td>{{ todoitem.task }}</td>
                                <td>{{ todoitem.due_date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
