<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>
                {{ todolist_object.title }} - Edit To Do List
            </title>
                <style>
                </style>
        </head>
        <body>

            <main>
                <div>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button>Update</button>
                    </form>
                </div>
            </main>
        </body>
    </html>
